@media (max-width: 576px) {
    .btn-SUF {
        font-size: 8px;
    }
    .remove-pad {
        margin-left: 0!important;
    }
}

.leftO {
    animation: 1s goLeftO forwards;
}

@keyframes goLeftO {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.left {
    animation: 1s goLeft forwards;
}

@keyframes goLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}